In [1]:
# put in dependencies
import pandas as pd

In [2]:
# read in all the atp/men's csvs
file_atp_17 = "../Resources/atp_matches_2017.csv"
file_atp_18 = "../Resources/atp_matches_2018.csv"
file_atp_19 = "../Resources/atp_matches_2019.csv"
file_atp_20 = "../Resources/atp_matches_2020.csv"
file_atp_21 = "../Resources/atp_matches_2021.csv"

# read in all the wta/women's csvs
file_wta_17 = "../Resources/wta_matches_2017.csv"
file_wta_18 = "../Resources/wta_matches_2018.csv"
file_wta_19 = "../Resources/wta_matches_2019.csv"
file_wta_20 = "../Resources/wta_matches_2020.csv"
file_wta_21 = "../Resources/wta_matches_2021.csv"

In [4]:
# mens
# read data into dataframes
atp_17_data = pd.read_csv(file_atp_17)
atp_17_df = pd.DataFrame(atp_17_data)

atp_18_data = pd.read_csv(file_atp_18)
atp_18_df = pd.DataFrame(atp_18_data)

atp_19_data = pd.read_csv(file_atp_19)
atp_19_df = pd.DataFrame(atp_19_data)

atp_20_data = pd.read_csv(file_atp_20)
atp_20_df = pd.DataFrame(atp_20_data)

atp_21_data = pd.read_csv(file_atp_21)
atp_21_df = pd.DataFrame(atp_21_data)

atp_17_df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2017-M020,Brisbane,Hard,32,A,20170102,271,104678,NaN,NaN,...,53.0,33.0,13.0,11.0,6.0,10.0,29.0,1385.0,100.0,604.0
1,2017-M020,Brisbane,Hard,32,A,20170102,272,106378,NaN,NaN,...,67.0,39.0,27.0,12.0,9.0,10.0,45.0,1001.0,141.0,443.0
2,2017-M020,Brisbane,Hard,32,A,20170102,273,106298,6.0,NaN,...,42.0,29.0,16.0,12.0,0.0,4.0,15.0,2156.0,25.0,1585.0
3,2017-M020,Brisbane,Hard,32,A,20170102,275,111577,NaN,Q,...,37.0,27.0,7.0,10.0,2.0,5.0,105.0,570.0,34.0,1255.0
4,2017-M020,Brisbane,Hard,32,A,20170102,276,111442,NaN,WC,...,43.0,23.0,13.0,9.0,10.0,15.0,79.0,689.0,160.0,372.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2897,2017-7696,NextGen Finals,Hard,8,F,20171106,289,111575,2.0,NaN,...,28.0,18.0,7.0,8.0,1.0,4.0,44.0,1045.0,54.0,908.0
2898,2017-7696,NextGen Finals,Hard,8,F,20171106,288,106421,7.0,NaN,...,52.0,36.0,13.0,12.0,8.0,10.0,63.0,772.0,44.0,1045.0
2899,2017-7696,NextGen Finals,Hard,8,F,20171106,287,106432,4.0,NaN,...,34.0,23.0,14.0,9.0,4.0,7.0,51.0,931.0,54.0,908.0
2900,2017-7696,NextGen Finals,Hard,8,F,20171106,286,106432,4.0,NaN,...,38.0,27.0,15.0,11.0,5.0,7.0,51.0,931.0,63.0,772.0
2901,2017-7696,NextGen Finals,Hard,8,F,20171106,285,106421,7.0,NaN,...,40.0,28.0,14.0,11.0,8.0,12.0,63.0,772.0,54.0,908.0

In [5]:
# check columns and select desired options
atp_17_df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [6]:
filtered_data_17_atp = [atp_17_df["tourney_name"], atp_17_df["surface"], atp_17_df["round"], 
                 atp_17_df["winner_name"], atp_17_df["winner_hand"], atp_17_df["winner_ioc"],
                 atp_17_df["winner_age"],]

filtered_data_18_atp = [atp_18_df["tourney_name"], atp_18_df["surface"], atp_18_df["round"], 
                 atp_18_df["winner_name"], atp_18_df["winner_hand"], atp_18_df["winner_ioc"],
                 atp_18_df["winner_age"],]

filtered_data_19_atp = [atp_19_df["tourney_name"], atp_19_df["surface"], atp_19_df["round"], 
                 atp_19_df["winner_name"], atp_19_df["winner_hand"], atp_19_df["winner_ioc"],
                 atp_19_df["winner_age"],]

filtered_data_20_atp = [atp_20_df["tourney_name"], atp_20_df["surface"], atp_20_df["round"], 
                 atp_20_df["winner_name"], atp_20_df["winner_hand"], atp_20_df["winner_ioc"],
                 atp_20_df["winner_age"],]

filtered_data_21_atp = [atp_21_df["tourney_name"], atp_21_df["surface"], atp_21_df["round"], 
                 atp_21_df["winner_name"], atp_21_df["winner_hand"], atp_21_df["winner_ioc"],
                 atp_21_df["winner_age"],]

new_headers = ["Tourney_Name", "Surface", "Tournament_Placement", "Winner_Name", "Winner_Hand",
              "Winner_Country", "Winner_Age"]

new_17_atp = pd.concat(filtered_data_17_atp, axis=1, keys=new_headers).reset_index()
new_18_atp = pd.concat(filtered_data_18_atp, axis=1, keys=new_headers).reset_index()
new_19_atp = pd.concat(filtered_data_19_atp, axis=1, keys=new_headers).reset_index()
new_20_atp = pd.concat(filtered_data_20_atp, axis=1, keys=new_headers).reset_index()
new_21_atp = pd.concat(filtered_data_21_atp, axis=1, keys=new_headers).reset_index()

In [7]:
new_df_atp = new_17_atp.append([new_18_atp, new_19_atp,new_20_atp,new_21_atp])
new_df_atp = new_df_atp.drop(columns = ["index"])
new_df_atp

,Tourney_Name,Surface,Tournament_Placement,Winner_Name,Winner_Hand,Winner_Country,Winner_Age
0,Brisbane,Hard,R32,Viktor Troicki,R,SRB,30.893908
1,Brisbane,Hard,R32,Kyle Edmund,R,GBR,21.984942
2,Brisbane,Hard,R32,Lucas Pouille,R,FRA,22.858316
3,Brisbane,Hard,R32,Jared Donaldson,R,USA,20.232717
4,Brisbane,Hard,R32,Jordan Thompson,R,AUS,22.704997
...,...,...,...,...,...,...,...
2722,Davis Cup WG2 R1: THA vs DEN,Hard,RR,August Holmgren,R,DEN,23.394935
2723,Davis Cup WG2 R1: THA vs DEN,Hard,RR,Kasidit Samrej,R,THA,20.629706
2724,Davis Cup WG2 R1: TUR vs LAT,Hard,RR,Altug Celikbilek,U,TUR,25.015743
2725,Davis Cup WG2 R1: TUR vs LAT,Hard,RR,Cem Ilkel,R,TUR,26.064339
2726,Davis Cup WG2 R1: TUR vs LAT,Hard,RR,Ergi Kirkin,R,TUR,22.628337

In [8]:
# export as csv 
export_path = "../Resources/all_mens_matches.csv"
new_df_atp.to_csv(export_path)

In [9]:
# women's data 
# mens
# read data into dataframes
wta_17_data = pd.read_csv(file_wta_17)
wta_17_df = pd.DataFrame(wta_17_data)

wta_18_data = pd.read_csv(file_wta_18)
wta_18_df = pd.DataFrame(wta_18_data)

wta_19_data = pd.read_csv(file_wta_19)
wta_19_df = pd.DataFrame(wta_19_data)

wta_20_data = pd.read_csv(file_wta_20)
wta_20_df = pd.DataFrame(wta_20_data)

wta_21_data = pd.read_csv(file_wta_21)
wta_21_df = pd.DataFrame(wta_21_data)

In [10]:
filtered_data_17_wta = [wta_17_df["tourney_name"], wta_17_df["surface"], wta_17_df["round"], 
                 wta_17_df["winner_name"], wta_17_df["winner_hand"], wta_17_df["winner_ioc"],
                 wta_17_df["winner_age"],]

filtered_data_18_wta = [wta_18_df["tourney_name"], wta_18_df["surface"], wta_18_df["round"], 
                 wta_18_df["winner_name"], wta_18_df["winner_hand"], wta_18_df["winner_ioc"],
                 wta_18_df["winner_age"],]

filtered_data_19_wta = [wta_19_df["tourney_name"], wta_19_df["surface"], wta_19_df["round"], 
                 wta_19_df["winner_name"], wta_19_df["winner_hand"], wta_19_df["winner_ioc"],
                 wta_19_df["winner_age"],]

filtered_data_20_wta = [wta_20_df["tourney_name"], wta_20_df["surface"], wta_20_df["round"], 
                 wta_20_df["winner_name"], wta_20_df["winner_hand"], wta_20_df["winner_ioc"],
                 wta_20_df["winner_age"],]

filtered_data_21_wta = [wta_21_df["tourney_name"], wta_21_df["surface"], wta_21_df["round"], 
                 wta_21_df["winner_name"], wta_21_df["winner_hand"], wta_21_df["winner_ioc"],
                 wta_21_df["winner_age"],]

new_headers = ["Tourney_Name", "Surface", "Tournament_Placement", "Winner_Name", "Winner_Hand",
              "Winner_Country", "Winner_Age"]

new_17_wta = pd.concat(filtered_data_17_wta, axis=1, keys=new_headers).reset_index()
new_18_wta = pd.concat(filtered_data_18_wta, axis=1, keys=new_headers).reset_index()
new_19_wta = pd.concat(filtered_data_19_wta, axis=1, keys=new_headers).reset_index()
new_20_wta = pd.concat(filtered_data_20_wta, axis=1, keys=new_headers).reset_index()
new_21_wta = pd.concat(filtered_data_21_wta, axis=1, keys=new_headers).reset_index()

In [11]:
new_df_wta = new_17_wta.append([new_18_wta, new_19_wta,new_20_wta,new_21_wta])
new_df_wta = new_df_wta.drop(columns = ["index"])
new_df_wta

,Tourney_Name,Surface,Tournament_Placement,Winner_Name,Winner_Hand,Winner_Country,Winner_Age
0,Luxembourg,Hard,R32,Kiki Bertens,R,NED,25.850787
1,Luxembourg,Hard,R32,Andrea Petkovic,R,GER,30.102669
2,Luxembourg,Hard,R32,Evgeniya Rodina,R,RUS,28.695414
3,Luxembourg,Hard,R32,Carina Witthoeft,R,GER,22.663929
4,Luxembourg,Hard,R32,Veronica Cepede Royg,R,PAR,25.735797
...,...,...,...,...,...,...,...
2592,BJK Cup Playoffs: NED vs CHN,Clay,RR,Arantxa Rus,L,NED,30.343600
2593,BJK Cup Playoffs: ROU vs ITA,Hard,RR,Elisabetta Cocciaretto,R,ITA,20.224504
2594,BJK Cup Playoffs: ROU vs ITA,Hard,RR,Martina Trevisan,L,ITA,27.452430
2595,BJK Cup Playoffs: ROU vs ITA,Hard,RR,Elena Gabriela Ruse,U,ROU,23.444216
2596,BJK Cup Playoffs: ROU vs ITA,Hard,RR,Elisabetta Cocciaretto,R,ITA,20.224504

In [12]:
# export as csv 
export_path = "../Resources/all_womens_matches.csv"
new_df_wta.to_csv(export_path)