In [11]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [55]:
#importing the atp and wta dataframes
atp="Deuces/Resources/all_mens_matches.csv"
wta="Deuces/Resources/all_womens_matches.csv"
atp_2017="Deuces/Resources/atp_matches_2017.csv"
atp_2018="Deuces/Resources/atp_matches_2018.csv"
atp_df=pd.read_csv(atp)
wta_df=pd.read_csv(wta)
atp_2017_df=pd.read_csv(atp_2017)
atp_2018_df=pd.read_csv(atp_2018)

In [13]:
print(atp_df.columns)
atp_df.head()

Index(['Unnamed: 0', 'Tourney_Name', 'Surface', 'Tournament_Placement',
       'Winner_Name', 'Winner_Hand', 'Winner_Country', 'Winner_Age'],
      dtype='object')

,Unnamed: 0,Tourney_Name,Surface,Tournament_Placement,Winner_Name,Winner_Hand,Winner_Country,Winner_Age
0,0,Brisbane,Hard,R32,Viktor Troicki,R,SRB,30.893908
1,1,Brisbane,Hard,R32,Kyle Edmund,R,GBR,21.984942
2,2,Brisbane,Hard,R32,Lucas Pouille,R,FRA,22.858316
3,3,Brisbane,Hard,R32,Jared Donaldson,R,USA,20.232717
4,4,Brisbane,Hard,R32,Jordan Thompson,R,AUS,22.704997

In [ ]:
atp_2017=atp_df.loc[(atp_df["Date"]=="2017")]
atp_2018=atp_df.loc[(atp_df["Date"]=="2018")]
atp_2019=atp_df.loc[(atp_df["Date"]=="2019")]
atp_2020=atp_df.loc[(atp_df["Date"]=="2020")]
atp_2021=atp_df.loc[(atp_df["Date"]=="2021")]
wta_2017=atp_df.loc[(wta_df["Date"]=="2017")]
wta_2018=atp_df.loc[(wta_df["Date"]=="2018")]
wta_2019=atp_df.loc[(wta_df["Date"]=="2019")]
wta_2020=atp_df.loc[(wta_df["Date"]=="2020")]
wta_2021=atp_df.loc[(wta_df["Date"]=="2021")]

In [24]:
#sorting dataframes for only the winners of F, SF, QF
#atp_finalists_df=atp_df.loc[(atp_df["Tournament_Placement"]=="F")|(atp_df["Tournament_Placement"]=="SF")|(atp_df["Tournament_Placement"]=="QF")]
#atp_finalists_df.head()
atp_2017_finalists_df=atp_2017.loc[(atp_2017["Tournament_Placement"]=="F")|(atp_2017["Tournament_Placement"]=="SF")|(atp_2017["Tournament_Placement"]=="QF")]
atp_2018_finalists_df=atp_2018.loc[(atp_2018["Tournament_Placement"]=="F")|(atp_2018["Tournament_Placement"]=="SF")|(atp_2018["Tournament_Placement"]=="QF")]
atp_2019_finalists_df=atp_2019.loc[(atp_2019["Tournament_Placement"]=="F")|(atp_2019["Tournament_Placement"]=="SF")|(atp_2019["Tournament_Placement"]=="QF")]
atp_2020_finalists_df=atp_2020.loc[(atp_2020["Tournament_Placement"]=="F")|(atp_2020["Tournament_Placement"]=="SF")|(atp_2020["Tournament_Placement"]=="QF")]
atp_2021_finalists_df=atp_2021.loc[(atp_2021["Tournament_Placement"]=="F")|(atp_2021["Tournament_Placement"]=="SF")|(atp_2021["Tournament_Placement"]=="QF")]


#wta_finalists_df=wta_df.loc[(wta_df["Tournament_Placement"]=="F")|(wta_df["Tournament_Placement"]=="SF")|(wta_df["Tournament_Placement"]=="QF")]
#wta_finalists_df.head()

wta_2017_finalists_df=wta_2017.loc[(wta_2017["Tournament_Placement"]=="F")|(wta_2017["Tournament_Placement"]=="SF")|(wta_2017["Tournament_Placement"]=="QF")]
wta_2018_finalists_df=wta_2018.loc[(wta_2018["Tournament_Placement"]=="F")|(wta_2018["Tournament_Placement"]=="SF")|(wta_2018["Tournament_Placement"]=="QF")]
wta_2019_finalists_df=wta_2019.loc[(wta_2019["Tournament_Placement"]=="F")|(wta_2019["Tournament_Placement"]=="SF")|(wta_2019["Tournament_Placement"]=="QF")]
wta_2020_finalists_df=wta_2020.loc[(wta_2020["Tournament_Placement"]=="F")|(wta_2020["Tournament_Placement"]=="SF")|(wta_2020["Tournament_Placement"]=="QF")]
wta_2021_finalists_df=wta_2021.loc[(wta_2021["Tournament_Placement"]=="F")|(wta_2021["Tournament_Placement"]=="SF")|(wta_2021["Tournament_Placement"]=="QF")]

,Unnamed: 0,Tourney_Name,Surface,Tournament_Placement,Winner_Name,Winner_Hand,Winner_Country,Winner_Age
24,24,Luxembourg,Hard,QF,Carina Witthoeft,R,GER,22.663929
25,25,Luxembourg,Hard,QF,Pauline Parmentier,R,FRA,31.707050
26,26,Luxembourg,Hard,QF,Elise Mertens,R,BEL,21.913758
27,27,Luxembourg,Hard,QF,Monica Puig,R,PUR,24.052019
28,28,Luxembourg,Hard,SF,Carina Witthoeft,R,GER,22.663929

In [39]:
#creating a point system for winner(3), finalists(2), semi_finalists(1)
atp_names=atp_finalists_df["Winner_Name"].value_counts()
atp_names

atp_points_2017=atp_2017_finalist_df["Winner_Name"].value_counts()
atp_points_2018=atp_2018_finalist_df["Winner_Name"].value_counts()
atp_points_2019=atp_2019_finalist_df["Winner_Name"].value_counts()
atp_points_2020=atp_2020_finalist_df["Winner_Name"].value_counts()
atp_points_2021=atp_2021_finalist_df["Winner_Name"].value_counts()

NameError: name 'atp_2018_finalist_df' is not defined

In [63]:
atp_finalists_df=atp_df.loc[(atp_df["Tournament_Placement"]=="F")|(atp_df["Tournament_Placement"]=="SF")|(atp_df["Tournament_Placement"]=="QF")]
atp_groups=atp_finalists_df.groupby(["Winner_Name"])
atp_total_count=atp_groups["Winner_Name"].count()
atp_2017_finalists_df=atp_2017_df.loc[(atp_2017_df["round"]=="F")|(atp_2017_df["round"]=="SF")|(atp_2017_df["round"]=="QF")]
atp_2017_groups=atp_2017_finalists_df.groupby(["winner_name"])
atp_count_2017=atp_2017_groups["winner_name"].count()
atp_2018_finalists_df=atp_2018_df.loc[(atp_2018_df["round"]=="F")|(atp_2018_df["round"]=="SF")|(atp_2018_df["round"]=="QF")]
atp_2018_groups=atp_2018_finalists_df.groupby(["winner_name"])
atp_count_2018=atp_2018_groups["winner_name"].count()

data=pd.DataFrame({"2017":atp_count_2017, "2018":atp_count_2018, "total":atp_total_count})
data.head()

                             2017  2018  total
Adrian Mannarino              5.0   5.0     21
Albert Ramos                  6.0   2.0     24
Alejandro Davidovich Fokina   NaN   NaN      3
Alessandro Giannessi          1.0   NaN      1
Alex De Minaur                NaN   7.0     28

In [29]:
#creating a point system for winner(3), finalists(2), semi_finalists(1)
wta_names=wta_finalists_df["Winner_Name"].value_counts()
wta_names

wta_points_2017=wta_2017_finalist_df["Winner_Name"].value_counts()
wta_points_2018=wta_2018_finalist_df["Winner_Name"].value_counts()
wta_points_2019=wta_2019_finalist_df["Winner_Name"].value_counts()
wta_points_2020=wta_2020_finalist_df["Winner_Name"].value_counts()
wta_points_2021=wta_2021_finalist_df["Winner_Name"].value_counts()

Ashleigh Barty            56
Simona Halep              52
Karolina Pliskova         50
Aryna Sabalenka           48
Elina Svitolina           46
                          ..
Evgeniya Rodina            1
Richel Hogenkamp           1
Katarina Zavatska          1
Xin Yu Wang                1
Elisabetta Cocciaretto     1
Name: Winner_Name, Length: 191, dtype: int64

In [38]:
atp_points_df=pd.DataFrame[{"2017": atp_points_2017, "2018":atp_points_2018, "2019":atp_points_2020, "2020":atp_points_2020, "2021":atp_points_2021}]
wta_points_df=pd.DataFrame[{"2017": wta_points_2017, "2018":wta_points_2018, "2019":wta_points_2020, "2020":wta_points_2020, "2021":wta_points_2021}]

Novak Djokovic      85
Rafael Nadal        78
Alexander Zverev    78
Daniil Medvedev     66
Roger Federer       61
                    ..
Vera Lapko           1
Arantxa Rus          1
Shelby Rogers        1
Nadia Podoroska      1
Jared Donaldson      1
Name: Winner_Name, Length: 382, dtype: int64